/* Core style */
html {
    box-sizing: border-box;
    scrollbar-arrow-color: #369E0F;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-decoration: none;
    line-height: 1.2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus,
select:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button {
    border: none;
    padding: 0;
    background: none;
}

button:focus {
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
}

a:active,
a:focus,
a:hover {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
}

.wrapper {
    overflow: hidden;
}

.btn {
    border-radius: 6px;
    background: #393;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: rgb(11, 96, 11);
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #DDD;
    background: var(--white, #FFF);
}

.header .container {
    display: flex;
    align-items: center;
    padding: 30px 0 28px;
}

.header .header-navigation {
    margin: 0 373px 0 auto;
}

.header .header-navigation {
    display: flex;
    gap: 32px;
}

.header-navigation .header-navigation__link {
    color: #282828;
    font-size: 20px;
    font-weight: 500;
}

/* main sections */
/* main intro */
.main-intro {
    background-image: url('../images/intro-section.png');
    height: 600px;
    padding: 80px 0 210px;
}

.main-intro h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: 700;
    line-height: 110%;
}

.main-intro .btn {
    padding: 16px 56px;
    margin-top: 40px;
}

/* categories section styles */
.categories {
    margin-top: 80px;
}

.categories .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories .title-box h2 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.categories .title-box button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 832px;
    height: 1px;
    background: #DDD;
    right: 143px;
}

.categories .title-box button {
    border-radius: 6px;
    position: relative;
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid #DDD;
}

.categories-cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.categoris-cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.categories-card {
    width: 316px;
}

.categories-cards .categories-card p,
.categoris-cards .categories-card p {
    color: #282828;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 10px;
}


.register {
    margin-top: 80px;
}

.register .container {
    display: flex;
    padding: 32px 32px 0 32px;
    background: linear-gradient(#0B710B, #339933);
    border-radius: 12px;
    flex-direction: column;
    gap: 24px;
}

.register .register-title h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
}

.register-img__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.register-img {
    width: 748px;
}

.register-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.register-content .register-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-inputs input {
    background: transparent;
    color: #FFF;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #FFF;
    padding: 16px 32px;
    font-weight: 500;
}

.register-inputs input::placeholder {
    color: #fff;
}

.register-button button {
    margin-top: 2rem;
    border-radius: 6px;
    background: #FFF;
    color: #282828;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    width: 100%;
    padding: 1rem 2rem;
    transition: all .3s ease-in;
    cursor: pointer;
}

.register-button button:hover {
    background: #282828;
    color: #fff;
}

/* sale section styles */
.sale {
    margin-top: 80px;
}

.sale .title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale .title-box h1 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
}

.sale .title-box button {
    color: #8B8B8B;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 8px 16px;
    position: relative;
}

.sale .title-box button::after {
    position: absolute;
    content: "";
    width: 1093px;
    right: 97.9px;
    top: 50%;
    height: 1px;
    background: #DDD;
}

.sale-cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sale-card {
    border-radius: 12px;
    border: 1px solid #DDD;
    width: 316px;
    position: relative;
}

.sale-card__img img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.sale-card__info {
    padding: 20px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sale-card__info h3 {
    overflow: hidden;
    color: #282828;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
}

.item-price {
    display: flex;
    gap: 16px;
    align-items: end;
}

.item-price h2 {
    color: #282828;
    font-size: 40px;
    font-weight: 600;
}

.item-price span {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: strikethrough;
}

.sale-card .card-sale {
    position: absolute;
    right: 16px;
    top: 16px;
}

.sale-card .card-sale span {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    border-radius: 6px;
    background: #393;
    padding: 4px 8px;
    letter-spacing: 0.6px;
}


/* contact section styles */
.contact {
    margin-top: 306px;
}

.contact .title-box h1 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.contact .sale-time {
    margin-top: 40px;
    border-radius: 12px;
    background: var(--light-grey, #F1F3F4);
    padding: 32px;
}

.contact .sale-time h2 {
    color: #282828;
    font-size: 40px;
    font-weight: 600;
}

.contact .map iframe {
    margin-top: 32px;
    border-radius: 12px;
    width: 100%;
}


#sale-time {
    color: red;
    background: #fff;
    padding: .5rem 1rem;
    display: inline-block;
}


/* Category.html css */
.category {
    margin-top: 116px !important;
}

.category .categories-card {
    width: 248px;
}

.category .categories-card img {
    width: 248px;
    height: 274.68px;
}


/* Tovar.html css */
.tovarInCategory .title-box {
    margin-top: 125px;
}

.tovarInCategory .title-box h2 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.tovars-filter {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 40px 0;
}

.tovars-filter>div {
    display: flex;
    gap: 16px;
    align-items: center;
}

.tovars-filter h3,
.tovars-filter label {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
}

.price-filter input {
    width: 112px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;

}

.tovarWithSale {
    display: flex;
}

.tovarWithSale:hover .custom-checkbox {
    background: #ddd;
}

.tovarWithSale label {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tovarWithSale input {
    display: none;
}

.tovarWithSale input:checked~.custom-checkbox {
    border-radius: 6px;
    background: rgb(51, 153, 51);
}

.tovarWithSale input:checked~.custom-checkbox::after {
    display: block;
}

.tovarWithSale .custom-checkbox {
    width: 36px;
    height: 36px;
    transition: all .3s ease;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox::after {
    left: 50%;
    width: 10px;
    height: 16px;
    display: none;
    padding: 6px 4px;
    border: solid white;
    left: 34%;
    top: 6px;
    border-width: 0px 3px 3px 0;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    transition: all .3s ease;
}

/* .price-filter input[type="checkbox"]::after {
    position: absolute;
    content: "/f00c";
} */

.price-filter input::placeholder {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 500;
}

.tovarWithSale label {
    cursor: pointer;
}

.tovarWithSale input[type="checkbox"] {
    border-radius: 6px;
    border: 1px solid #DDD;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.sorted-tovar select {
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
    padding: 8px 16px;
    width: 200px;
}

.sorted-tovar select option {
    color: rgb(40, 40, 40);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: #fff;
}

.tovars-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 32px;
    justify-content: space-between;
}

.tovar-card {
    width: 316px;
    border-radius: 12px;
    position: relative;
    width: 320px;
    border: 1px solid #DDD;
}

.tovar-card .tovar-sale span {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    top: 1rem;
    right: 1rem;
    border-radius: 6px;
    background: #393;
    letter-spacing: 0.6px;
    padding: 4px 8px;
    z-index: 2;
    position: absolute;
}

.tovar-img img {
    width: 100%;
}

.tovar-info {
    padding: 20px 32px 32px;
    gap: 16px;
}

.tovar-info h4 {
    overflow: hidden;
    color: #282828;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
}

.tovar-price {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.tovar-price h2 {
    color: #282828;
    font-size: 40px;
    font-weight: 600;
}

.tovar-price span {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
}

.tovar-img {
    position: relative;
    overflow: hidden;
}

.tovar-card:hover .tovar-button {
    bottom: 16px;
}

.tovar-button {
    transition: all .3s linear;
    position: absolute;
    margin: 0 16px;
    bottom: -60px;
    width: 100%;
}

.tovar-button a {
    padding: 16px 32px;
    width: 284px;
    display: inline-block;
}

.tovar-button a:hover {
    border-radius: 6px;
    background: #282828;
}

/* tovar.html css */
.productBuy .container {
    display: flex;
    gap: 32px;
    margin-top: 188px;
}

.product-info {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.product-info h3 {
    color: #282828;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.sale-price {
    display: flex;
    gap: 1rem;
    align-items: start;
}

.product-price {
    display: flex;
    align-items: end;
    gap: 2rem;
}

.product-price h3 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.product-price span {
    color: #8B8B8B;
    font-size: 40px;
    font-weight: 500;
}

.product-sale {
    padding: 4px 8px;
    border-radius: 6px;
    background: #393;
}

.product-sale span {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.product-howMuch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.product-howMuch .productCount {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.productCount .minus,
.productCount .plus {
    width: 58px;
    height: 58px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCount .minus {
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
}

.productCount .plus {
    border: 1px solid #ddd;
    border-radius: 6px 0px 0px 6px;
}

.productCount .number {
    color: #282828;
    text-align: center;
    font-size: 20px;
    pointer-events: none;
    font-weight: 600;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}

.product-buy__btn button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    background: #393;
    padding: 1rem 2rem;
    width: 316px;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-description h3 {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
}

.product-description p {
    overflow: hidden;
    color: #282828;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    width: 548px;
    line-height: 130%;
}

.title-box button {
    cursor: pointer;
}

.product-description a {
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
}


/* korzina.html styles */
.shopping-cart .title-box {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart .title-box h2 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.shopping-cart .title-box button {
    color: #8B8B8B;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 8px 16px;
    position: relative;
}

.shopping-cart .title-box button::after {
    width: 700px;
    position: absolute;
    content: "";
    top: 50%;
    right: 172.6px;
    background: #DDD;
    height: 1px;
}

.korzina-productPrice {
    display: flex;
    gap: 2rem;
}

.korzina-products {
    width: 780px;
    height: auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.korzina-product {
    width: 780px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid #DDD;
    border-left: none;
}

.korzina-product .korzina-product__info {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}

.korzina-product__name {
    display: flex;
    justify-content: space-between;
}

.korzina-product__name h3 {
    overflow: hidden;
    color: #282828;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
}

.product-howMuch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.how-much__price {
    display: flex;
    gap: 32px;
    align-items: center;
}

.korzina-product__price {
    display: flex;
    gap: 1rem;
    align-items: end;
}

.korzina-product__price h2 {
    color: #282828;
    font-size: 40px;
    font-weight: 600;
}

.korzina-product__price span {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
}

.how-much__price .productCount {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DDD;
    width: 200px;
}

.productCount .minusTwo,
.productCount .plusTwo,
.productCount .minusThree,
.productCount .plusThree,
.productCount .minusFour,
.productCount .plusFour {
    width: 58px;
    height: 58px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCount .minusTwo,
.productCount .minusThree,
.productCount .minusFour {
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
}

.productCount .plusTwo,
.productCount .plusThree,
.productCount .plusFour {
    border: 1px solid #ddd;
    border-radius: 6px 0px 0px 6px;
}

.productCount .numberTwo,
.productCount .numberThree,
.productCount .numberFour {
    color: #282828;
    text-align: center;
    font-size: 20px;
    pointer-events: none;
    font-weight: 600;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}


.products-total__price {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 12px;
    width: 100%;
    background: var(--light-grey, #F1F3F4);
}

.products-total__price .total-price {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.products-total__price .total-price h3 {
    color: #282828;
    font-size: 40px;
    font-weight: 700;
}

.products-total__price .how-many__price h2 {
    color: #8B8B8B;
    font-size: 40px;
    font-weight: 500;
}

.products-total__price .how-many__price .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-total__price .how-many__price .price .all-total__price {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
}

.products-total__price .order-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.products-total__price .order-details form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.products-total__price .order-details form .order-submit {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    background: #393;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.products-total__price .order-details form .order-submit:hover {
    background: rgb(3, 114, 23);
}

.products-total__price .order-details form .order-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.products-total__price .order-details .order-inputs input {
    border-radius: 6px;
    width: 100%;
    border: 1px solid #DDD;
    background: var(--white, #FFF);
    padding: 1rem 2rem;
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
}


.open-modal {
    color: #fff;
    cursor: pointer;
    justify-content: center;
    background: #000;
    padding: 18px 36px;
    text-align: center;
    border-radius: 6px;
}

.modal {
    background: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    min-height: 100%;

}